<div class="card" style="margin-top: 1rem">
  <img src="../../assets/cosmetico1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Expression Colors, Máscara Mega Full Size (Negro) y Labial HD</h6>
    <p class="card-text">Expression</p>
    <h5 class="card-text">¿Este es el regalo ideal para tu Mamá?</h5>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg mr-2 mx-auto" role="group">
            <p>NO</p>
            <button type="button" class="btn btn-outline-danger btn-lg "><i class="material-icons">thumb_down</i></button>
        </div>
        <div class="btn-group btn-group-lg mx-auto" role="group">
            <p>SI</p>
            <button type="button" class="btn btn-outline-success btn-lg"><i class="material-icons">thumb_up</i></button>
        </div>
    </div>
  </div>
</div>
<br>
<button type="button" class="btn btn-outline-info btn-lg btn-block" style="margin-bottom: 1rem" routerLink="/resumecart">Finalizar Busqueda</button>