<h4 class="text-center" style="margin-top: 1rem">Pack Final</h4>
<br>
<img src="../../assets/cosmetico1.jpg" class="rounded mx-auto d-block">
<br>
<h6 class="text-center">Total S/120.00</h6>
<br>
<h6 class="text-center">Hoy elige tus Tarjetas y Bolsas <span class="text-success">GRATIS!</span></h6>
<br>
<form>
  <div class="form-row">
    <div class="form-group col-6">
      <label for="exampleInputEmail1">Cantidad de Tarjetas</label>
      <input type="nummber" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese cant. Tarjetas">
    </div>
    <div class="form-group col-6">
        <label for="exampleInputEmail1">Cantidad de Bolsas</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese cant. Bolsas">
      </div>
  </div>
  <br>
  <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-lg mr-1 mx-auto" role="group">
        <button type="button" class="btn btn-outline-warning" routerLink="/comprarluego">Compra Luego</button>
      </div>
      <div class="btn-group btn-group-lg mx-auto" role="group">
          <button type="button" class="btn btn-outline-success">Compra Ahora</button>
      </div>
  </div>
  <br>
  <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 1rem">Quieres mejorar tu Pack?</button>
</form>